.box {
    box-sizing: border-box;
    padding: 0 20px;
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    background-size: cover;

    & h2,
    & a,
    & p,
    & ul,
    & li {
        color: white;
        margin: 0;
        padding-bottom: 0.5em;

        &::selection {
            color: black;
        }
    }

    & ul {
        padding-left: 0.5em;
        padding-right: 0.5em;
        list-style-type: none;
    }

    & a {
        text-decoration: underline;

        &:hover {
            color: lightblue;
        }
    }
}

@media (min-width: 500px) {
    .spbox {
        width: 50vw;
    }
}

@media (min-width: 750px) {
    .spbox {
        width: 25vw;
    }
}

.app {
    background-color: black;

    & h1 {
        box-sizing: border-box;
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 0.5rem;
        padding: 100px 0;
        text-align: center;
        color: white;

        &::selection {
            color: black;
        }
    }
}

.toright {

    & h2,
    & p,
    & ul,
    & li {
        text-align: right;
    }
}

@media (min-width: 1320px) {
    .onminus {
        background-position: calc(50% - 15vw) 50%;
    }

    .onplus {
        background-position: calc(50% + 15vw) 50%;
    }
}