.container {
    display: flex;
}

.container_main {
    height: 100vh;
    align-items: center;
}

.bigbox {
    border-left: 0.25rem solid rgba(0, 0, 0, 0.8);
    padding-left: 0.5rem;
    margin-left: 33vw;
}

.box {
    margin-bottom: 0.75rem;
}

@media only screen and (max-width: 1000px) {
    .container_main {
        justify-content: center;
    }

    .bigbox {
        margin: 0 0.5rem;
    }
}