%d-flex {
  display: flex;
}

%d-flex-c {
  @extend %d-flex;
  justify-content: center;
}

%d-flex--c {
  @extend %d-flex;
  align-items: center;
}

%d-flex-c-c {
  @extend %d-flex--c;
  justify-content: center;
}
