.article {
  padding: 0 2rem;
  text-align: center;

  .limit-size {
    max-width: 600px;
    margin: 0 auto;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    line-height: 1.5;
  }

  .icon {
    &.big {
      font-size: 10em;
    }
  }

  section {
    margin: 2.5rem 0;
  }
}
