@use "sass:color";
@use "transition";

$primary: #242424;
$secondary: #fff;

* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  --text-color: #{$primary};
  --bg-color: #{$secondary};
  --text-accent: #{color.scale($secondary, $lightness: -15%)};
  --text-accent-shadows: #{color.scale($secondary, $lightness: -35%)};
  --text-accent-shadows-brighter: #{color.scale($secondary, $lightness: -25%)};
  --text-accent-brighter: #{color.scale($secondary, $lightness: -10%)};
  --text-accent-brightest: #{color.scale($secondary, $lightness: -5%)};
}

body.dark {
  --text-color: #{color.scale($secondary, $lightness: -10%)};
  --bg-color: #{$primary};
  --text-accent: #{color.scale($primary, $lightness: 10%)};
  --text-accent-shadows: #{color.scale($primary, $lightness: -30%)};
  --text-accent-shadows-brighter: #{color.scale($primary, $lightness: -20%)};
  --text-accent-brighter: #{color.scale($primary, $lightness: 15%)};
  --text-accent-brightest: #{color.scale($primary, $lightness: 20%)};
}

html,
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  color: var(--text-color);
  background: var(--bg-color);
}

.fully-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.ReactCollapse--collapse {
  transition: height transition.$transition-time-medium;
}
