@use "sass:color";
@use "transition";

$primary: #242424;
$secondary: #fff;

* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition: none !important;
  }
}

body {
  overflow-y: scroll;
  --text-color: #{$primary};
  --bg-color: #{$secondary};
  --text-accent: #{color.scale($secondary, $lightness: -15%)};
  --text-accent-shadows: #{color.scale($secondary, $lightness: -35%)};
  --text-accent-shadows-brighter: #{color.scale($secondary, $lightness: -25%)};
  --text-accent-list-cover: #{color.scale($secondary, $lightness: -5%)};
  --text-accent-brighter: #{color.scale($secondary, $lightness: -10%)};
  --text-accent-brightest: #{color.scale($secondary, $lightness: -5%)};
  --selection: #{color.scale(#81d4fa, $alpha: -50%)};
}

body.dark {
  --text-color: #{color.scale($secondary, $lightness: -10%)};
  --bg-color: #{$primary};
  --text-accent: #{color.scale($primary, $lightness: 10%)};
  --text-accent-shadows: #{color.scale($primary, $lightness: -30%)};
  --text-accent-shadows-brighter: #{color.scale($primary, $lightness: -20%)};
  --text-accent-list-cover: #{color.scale($primary, $lightness: -20%)};
  --text-accent-brighter: #{color.scale($primary, $lightness: 15%)};
  --text-accent-brightest: #{color.scale($primary, $lightness: 20%)};
  --selection: #{color.scale(#0277bd, $alpha: -50%)};
}

html,
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  color: var(--text-color);
  background: var(--bg-color);
}

.fully-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.ReactCollapse--collapse {
  transition: height transition.$transition-time-medium;
}

main,
footer {
  a {
    color: var(--text-color);
    box-shadow: 0px 0px 0px 0px transparent;
    background: transparent;
    transition: all transition.$transition-time-short;

    &:hover {
      box-shadow: 0px 0px 0px 0.2em var(--text-accent-brighter);
      background: var(--text-accent-brighter);
      transition: all 0s;
    }
  }
}

::selection {
  background: var(--selection);
}

a {
  -webkit-tap-highlight-color: transparent;
}
