@use "../styles/flexbox";

.not-found {
  @extend %d-flex--c;
  justify-content: space-evenly;
  flex-direction: column;
  height: 80vh;

  h2 {
    font-size: 40rem;
    margin: 10px;
    color: gray;
    font-family: 'Consolas', monospace;
    line-height: 0.7;
    user-select: none;
  }
}
