.nav {
    & a {
        display: block;
        font: bold 1.5em 'Josefin Sans', sans-serif;
        color: black;
        padding: 50px;

        &:hover {
            color: rgb(83, 83, 83);
            text-decoration: none;
        }
    }
}