@use "../styles/transition";
@use "../styles/flexbox";

.light-mode-btn {
  @extend %d-flex--c;
  position: absolute;
  top: 10px;
  right: 10px;
  user-select: none;
  
  .toggler {
    .bg {
      @extend %d-flex--c;
      background: #b3e5fc;
      width: 30px;
      height: 15px;
      border-radius: 100px;
      overflow: hidden;
      transition: all transition.$transition-time-medium ease-in-out;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 100px;
        transition: all transition.$transition-time-medium ease-in-out;
      }

      &::before {
        background: #ff9800;
        transform: translateX(0px);
      }

      &::after {
        background: #b3e5fc;
        transform: translateY(-10px) translateX(-10px) scale(0.9);
      }

      &.dark {
        background: #01579b;
        &::before {
          background: #ffc107;
          transform: translateX(15px);
        }
        &::after {
          background: #01579b;
          transform: translateY(-3px) translateX(12px) scale(0.9);
        }
      }
    }
  }

  .hint {
    color: hsl(0, 0, 50%);
    margin: 0 10px 0 0;
    font-size: 10px;
    font-family: monospace;
  }
}
