@use "../styles/transition";

.top-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: height transition.$transition-time-medium;
  user-select: none;

  * {
    transition: font-size transition.$transition-time-medium;
  }

  h1 {
    margin: 0;
  }

  a {
    color: var(--text-color);
    text-decoration: none;

    &.head {
      margin: 0 0 1em 0;
    }
  }
}

.sub-page {
  height: 200px;

  & .head,
  & h1 {
    font-size: 3rem;
  }

  .head {
    padding: 5px 10px;

    &:hover {
      background: var(--text-accent);
    }
  }

  .navigation-link {
    width: 5em;
    font-size: 1rem;
  }

  .navigation-link-active {
    .navigation-link {
      background: var(--text-accent);
    }
  }

  & .head,
  & .navigation-link {
    transition: background transition.$transition-time-short;
    &:hover {
      transition: background 0s;
    }
  }
}

%long-shadow-hover {
  position: relative;

  &:hover {
    background: var(--text-accent);

    &:before,
    &:after {
      content: '';
      position: absolute;
      transform-origin: 0 0;
    }

    &:before {
      width: 100%;
      height: 100vh;
      transform: skewx(45deg);
      top: 100%;
      left: 0;
      background: var(--text-accent-shadows-brighter);
      z-index: 1;
    }
    &:after {
      width: 100vw;
      height: 110%;
      transform: skewy(45deg);
      top: 0;
      left: 100%;
      background: var(--text-accent-shadows);
      z-index: 0;
    }
  }
}

.home {
  height: 100vh;
  overflow: hidden;

  & .head,
  & h1 {
    font-size: 10rem;
  }

  .head {
    padding: 10px;
  }

  .navigation-link {
    width: 8rem;
    font-size: 2rem;
    padding: 5px 10px;
  }

  & .head,
  & .navigation-link {
    @extend %long-shadow-hover;
  }
}

.navigation {
  color: white;
  z-index: 1000;
  display: flex;

  .navigation-link {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding: 5px 10px;

    &:hover {
      background: var(--text-accent);
    }
  }
}

.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  border-top: 1px solid gray;
  user-select: none;
}
